.row
  .col-md-6
    %h2 Programs
    .row
      - Dir.glob("playlist/*-program.html").sort.each do |aprogram|
        .col-md-6
          - basename = File.basename(aprogram).sub(/-program.html$/, '')
          %a(href="/#{aprogram}")= basename

  .col-md-6
    %h2 Performers
    .row
      - PlayList.band_singers.each do |singer|
        .col-md-6
          %a(href="/singer_list/#{singer}")= singer
