:css
  .savatar {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .uavatar {
    clip-path: circle(15px at center);
  }
  .srow td {
    font-size: small;
  }
  .srow td:nth-child(4), .srow td:nth-child(5) {
    text-align: right;
  }

- readonly = params[:readonly]
.row
  %div(class="col-lg-8")
    %table.cell-border.compact.display.dt-responsive#main_table
      %thead
        %tr
          %th Title
          %th Favs
          %th Record_By
          %th Listens
          %th Loves
          %th Recorded
          %th Tags
          %th City

  .col-lg-4
    = partial :_smsingers, locals:locals

- content_for :javascript do
  :javascript
    $(function() {
      $('#main_table').dataTable({
        "dom": '<"top"lfi>rt<"bottom"p><"clear">',
        "order": [[ 5, "desc" ]],
        "pageLength": 100,
        "serverSide": true,
        "searchDelay": 1000,
        "responsive": true,
        "ajax": "/smsongs_data/#{user}",
        "columns": [
            { "data": "title" },
            { "data": "isfav" },
            { "data": "record_by" },
            { "data": "listens" },
            { "data": "loves" },
            { "data": "created" },
            { "data": "tags" },
            { "data": "orig_city" }
        ]
      });
      $('#singer_table').DataTable({
        "order": [[ 1, "desc" ]],
        "responsive": true,
        "pageLength": 100
      });
    });
    function smdelete(url, title) {
      if (confirm ("OK to delete " + title)) {
        jQuery.ajax(url);
      }
      return false;
    };

