---
local:
  :type: sqlite
  :config:
    database: 'smule.db'

tidb:
  :type: mysql2
  :config:
    host: ***
    port: ***
    user: ***
    password: ****
    database: 'smule'
    sslmode: 'require'
    sslca: '/etc/ssl/certs/ca-certificates.crt'

